<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.quizappdscchallenge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Question2Activity"
            android:label="Question 2" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question3Activity"
            android:label="Question 3" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question4Activity"
            android:label="Question 4" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question5Activity"
            android:label="Question 5" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question6Activity"
            android:label="Question 6" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question7Activity"
            android:label="Question 7" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question8Activity"
            android:label="Question 8" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question9Activity"
            android:label="Question 9" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Question10Activity"
            android:label="Question 10" android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>